<h1>User info</h1>
  <%= image_tag user.get_profile_image(100,100) %>

  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>

  <div>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-lg btn-block" do %>
       <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>

      <h1>New book</h1>
        <%= form_with model: book do |f| %>

        <p>title</p>
        <%= f.text_field :title %>

        <p>opinion</p>
        <%= f.text_area :body %>

        <%= f.submit class: "btn btn-success" do %>
          Create Book
        <% end %>
        <% end %><!--form_withの閉じタグ-->
