<div class= "container" >
    <div class= "row">
        <div class="col-md-3"><!--col-md-3の開始タグ-->
<h1>User info</h1>

<%= image_tag @user.get_profile_image(100,100) %>
<%= @user.name %>
<%= @user.introduction %>
<% if @user == current_user %>
<%= link_to "edit", edit_user_path(@user.id) %>
<% end %>

<h1>New book</h1>
<%= form_with model: @book do |f| %>

  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'create Book' %>
<% end %>
</div><!--col-md-3の閉じタグ-->

<div class="col-md-8 offset-md-1">
<h1>Books</h1>

  <p>Title</p>

  <p>Opinion</p>

<% @books.each do |book| %>
    <%= link_to book_path(book.id) do %>
     <%= image_tag @user.get_profile_image(100,100) %>
     <%= book.title%>
    <% end %>
     <%= book.body%>
<% end %>
</div><!--col-md-8 offsetの閉じタグ-->
    </div><!--rowの閉じタグ-->
</div><!--contanerの閉じタグ-->