<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h1>Editing Book</h1>

      <%= form_with model: @book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>

      <P>Opinion</P>
      <%= f.text_area :body %>

      <div>
        <%= f.submit class: "btn btn-success" do %>
    　     Update Book
        <% end %>
      </div>
      <% end %>

      <span><%= link_to "Show", book_path(@book.user.id) %></span>
      <span> | </span>
      <span><%= link_to "Back", books_path %></span>
    </div><!--mx-autoの閉じタグ-->
  </div><!--rowの閉じタグ-->
</div><!--container閉じタグ-->