<div class= "container" >
  <div class= "row">
    <div class="col-md-3"><!--col-md-3の開始タグ-->

<%= render partial: 'users/list', locals: { user: @user, book: @book } %>

    </div><!--col-md-3の閉じタグ-->

    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><%= link_to user_path(@users.id) do %>
                <%= image_tag @users.get_profile_image(100,100) %>
                <div><%= @users.name %></div>
                <% end %>
              </td>

              <td>
                <%= link_to book_path(@users.id) do %>
                <%= @books.title %>
                <% end %>
              </td>

              <td>
                <%= @books.body %>
              </td>

              <td>
                <% if @books.user == current_user %>
                  <%= link_to edit_book_path(@books.id), class: "btn btn-success" do %>
                    Edit
                  <% end %>
                <% end %>
              </td>

              <td>
                <% if @books.user == current_user %>
                  <%= link_to book_path(@books), method: :delete, class: "btn btn-danger" do %>
                    Destroy
                  <% end %>
                <% end %>
              </td>
            </tr>

          </tbody>
        </table>
    </div><!--col-md-8 offsetの閉じタグ-->
  </div><!--rowの閉じタグ-->
</div><!--contanerの閉じタグ-->